{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "tabWidth": 2,
  "max-len": ["error", 110, 2],
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "<THIRD_PARTY_MODULES>",
    "^app/(.*)$",
    "^precesses/(.*)$",
    "^pages/(.*)$",
    "^widgets/(.*)$",
    "^features/(.*)$",
    "^entities/(.*)$",
    "^shared/(.*)$",
    "^[./]",
    "^[../]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
