.root {
  background: var(--main-color);
  height: var(--navbar-height);
  padding: var(--header-paddings);
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
}

/* .right {
  display: flex;
  flex-grow: 2;
  justify-content: flex-end;
  gap: 16px;
} */
